<div class="side_bar_top">
  <div class="main_logo">
    Topic Stocker
  </div>
</div>

<div class="side_bar_categories">
  <div>
    <%= link_to("新規登録", new_character_path) %>
  </div>

  <div>
  <%= link_to "全てのデータ", root_path %>
  </div>
  <div id="categories">
  </div>
  <% @categories.each do |category| %>
    <div class="category">
      <div class="category_name">
        <%= link_to category.name, category_path(category) %>
      </div>
    </div>
  <% end %>
  <div id="new_category_form">
    <%= link_to "カテゴリ追加", new_category_path %>
  </div>
</div>