<div class="side_bar_top">
  <div class="main_logo">
    Topic Stocker
  </div>
</div>

<div class="side_bar_categories">
  会社
  <%# <% current_user.categories.each do |category| %>
    <%# <div class="category"> %>
      <%# <div class="category_name">
        <%# <%= category.name %>
      <%# </div> %>
    <%# </div> %>
  <%# <% end %>
</div>