<div class="side_bar_top">
  <div class="main_logo">
    Topic Stocker
  </div>
</div>

<div class="side_bar_categories">
  <div>
    <%= link_to("新規登録", new_character_path) %>
  </div>

  <div>
    会社
  </div>
  <div id="categories">
  </div>
  <%# <% current_user.categories.each do |category| %>
    <%# <div class="category"> %>
      <%# <div class="category_name">
        <%# <%= category.name %>
      <%# </div> %>
    <%# </div> %>
  <%# <% end %>
  <div id="new_category_form">
    <button type="button" id="new_category_btn">追加</button>
  </div>
</div>