<%= javascript_pack_tag "delete-topic", "editpage-new-topic", "select-category", "view-selected-image", "open-operation-btn" %>

<div class="wrapper">
  <div class="side_bar">
    <%= render partial: "shared/side_bar" %>
  </div>
  <div class="main_view">
    <%= render partial: "main_view_character_edit" %>
  </div>
</div>