<%= javascript_pack_tag "edit-sns", "select-category", "character-view-selected-image", "open-operation-btn" %>

<div class="wrapper">
  <div class="side_bar">
    <%= render partial: "shared/side_bar" %>
  </div>
  <div class="main_view">
    <%= render partial: "main_view_character_new" %>
  </div>
</div>