/* アイコン */

svg {
  margin-right: 16px;
}

.fa-user-plus {
  margin-right: 10px;
}

.fa-plus {
  margin-right: 18px;
}

.fa-angle-down {
  margin: 0 0 0 10px;
}

.fa-pen-to-square {
  margin: 0 0 0 10px;
}


/* ページ */

.wrapper {
  display: flex;

}
.main_view {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fff;
}

.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #770099;
  color: #fff;
}

/* サイドバー */
/* サイドバートップ */

.side_bar_top {
  height: 90px;
  width: 100%;
}

.main_logo_wrapper {
  padding: 16px 0;
}

/* サイドバーコンテンツ */

.side_bar_contents {
  height: calc(100vh - 90px);
}

.new_character_btn_wrapper {
  padding: 15px;
}

#new_character_btn {
  width: 270px;
  margin: 0 auto;
  padding: 9px 9px 9px 18px;
  border-radius: 3px;
  background-color: #fff;
  color: #770099;
  display: block;
  font-size: 16px;
}

.categories {
  height: calc(100% - 40px);
  background: url("/images/side_bar_back.png") bottom no-repeat;
}

.category_btn {
  width: 100%;
  padding: 7px 0 7px 35px;
  font-size: 14px;
  background-color: #770099;
  color: #fff;
  display: block;
}

.category_btn:hover {
  background-color: #600077;
}

.category_all {
  padding: 7px 0 7px 33px;
}

.new_category_btn {
  background-color: #8f21ad;
}

#active_category {
  background-color: #f5f5f5;
  color: #770099;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #600077;
  display: flex;
  align-items: center;
}

.feedback_link {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}

.copy_right {
  margin-left: 40px;
  font-size: 10px;
}

/* メインビュー */
/* トップページ */
/* メイントップ */

.main_top {
  height: 90px;
  padding: 0 25px  0 35px;
  background-color: #770099;
  display: flex;
  justify-content: space-between;
}

.main_top_data {
  margin-top: 15px;
  width: 680px;
  height: 60px;
  background-color: #600077;
  border-radius: 3px;
  color: #fff;
  padding: 6px 20px;
}

.top_title {
  font-size: 20px;
  font-weight: bold;
}

.top_subtitle {
  font-size: 12px;
}

.main_top_user_data {
  margin-top: 15px;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.main_top_user_data:hover {
  background-color: #600077;
  border-radius: 3px;
}

.current_user_name {
  color: #fff;
  margin-right: 10px;
}

.current_user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f8e8ff;
  background-color: #fff;
}

/* ユーザー操作ボックス */

.user_operation {
  width: 200px;
  background-color: #770099;
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 0px 7px #888;
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 0;
  display: none;
}

.user_operation_btn {
  padding: 10px 0;
  display: block;
  color: #fff;
}

.user_operation_btn:hover {
  background-color: #600077;
}

.user_edit_btn {
  padding-bottom: 15px;
  position: relative;
}

.user_edit_btn::after {
  content: "";
  border: .5px dashed #fff;
  width: 166px;
  position: absolute;
  top: 0px;
  left: 15px;
}

.user_operation_active {
  display: block;
}

/* メイントップサブ */

.main_top_sub {
  padding: 7px 35px;
  background-color: #f8e8ff;
  display: flex;
  justify-content: space-between;
}

.sort_btn {
  padding: 2px 12px;
  margin-right: 4px;
  display: inline-block;
  background-color: #fff;
  color: #770099;
  border-radius: 3px;
}

.active {
  background-color: #770099;
  color: #fff;
}

.update_time {
  margin-top: 6px;
  font-size: 10px;
}


/* メインコンテンツ */
.main_contents {
  padding: 30px 0;
  height: calc(100vh - 131px);
  background-color: #f5f5f5;
  overflow: auto;
}

.main_contents_wrapper {
  margin-left: 35px;
  height: 100%;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.character {
  width: 510px;
  height: 170px;
  border: 1px solid #770099;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 15px 15px 0;
  transition: .1s;
  display: flex;
}

.character:hover {
  box-shadow: 0px 0px 7px #888;
}

.select {
  height: 355px;
  transition: .1s;
}

.character_info {
  width: 155px;
  padding-top: 22px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.character_info::after {
  content: "";
  border-right: 1px solid #770099;
  height: 125px;
  position: absolute;
  right: 0;
  top: 22px;
}

.character_image img {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  border: 1px solid #f8e8ff;
  object-fit: cover;
}

.character_name {
  margin-top: 3px;
  font-weight: bold;
}

.character_topic {
  width: 380px;
  height: calc(100% - 2px);
}

.future_topic {
  width: 100%;
  height: 50%;
  padding: 14px 20px 8px 13px;
  position: relative;
}

.future_topic::after {
  content: "";
  border: .5px dashed #770099;
  width: 310px;
  position: absolute;
  bottom: -1px;
  left: 18px;
}

.topic_type_future {
  font-size: 14px;
  font-weight: bold;
  color: #770099;
  position: absolute;
  top: 15px;
  right: 31px;
  z-index: 1;
}

.past_topic {
  width: 100%;
  height: 50%;
  padding: 8px 20px 14px 13px;
  position: relative;
}

.detail {
  margin-top: 100px;
}

.character_btn {
  padding: 5px 10px;
  font-size: 13px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: inline-block;
}

.delete_character_btn {
  margin-top: 8px;
}

.topic_form {
  height: 100%;
  position: relative;
}

.created_date {
  width: 82px;
  font-size: 11px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background-color: #fff;
  color: #000;
}

.topic_input {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 3px 5px;
  font-size: 12px;
  border: none;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 3px;
}

.topic_input:disabled {
  background-color: #fff;
  border: none;
}

.topic_type_past {
  font-size: 14px;
  font-weight: bold;
  color: #770099;
  position: absolute;
  bottom: 15px;
  right: 31px;
  z-index: 1;
}

.topic_btn {
  display: none;
}

.topic_btn_image {
  width: 30px;
  height: 30px;
}

.index_new_topic_btn {
  position: absolute;
  bottom: 70px;
  right: 28px;
}

.index_delete_topic_btn {
  position: absolute;
  bottom: 33px;
  right: 28px;
  /* margin-top: 10px; */
}

/* カテゴリページ */
/* メイントップ */

.category_data {
  display: flex;
  justify-content: space-between;
}

.category_data_right {
  display: flex;
  align-items: center;
}

.edit_category_btn {
  font-size: 14px;
  color: #fff;
}


/* 新規データ登録ページ */

.edit_character_form {
  max-height: 100%;
  display: flex;
}

.edit_profile_form {
  width: 665px;
  height: 540px;
  border: 1px solid #770099;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-shrink: 0;
}

.edit_profile_form_left {
  width: 222px;
  padding-top: 22px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}

.edit_profile_form_left::after {
  content: "";
  border-right: 1px solid #770099;
  height: 495px;
  position: absolute;
  right: 0;
  top: 22px;
}

.character_image_label {
  display: inline-block;
}

.selected_character_image {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 1px solid #f8e8ff;
  object-fit: cover;
}

.selected_character_image:hover {
  opacity: 0.7;
}

#edit_character_image {
  display: none;
}

.character_name_field {
  margin-top: 2px;
  color: #770099;
  font-size: 22px;
  font-weight: bold;
}

.character_name_field p {
  text-align: left;
  margin-left: 30px;
}

.character_name_field span {
  font-size: 16px;
  margin-left: 3px;
}

.edit_character_name {
  margin-top: 5px;
  padding: 5px;
  width: 160px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.character_submit_btn {
  margin-top: 200px;
  padding: 5px 13px;
  font-size: 18px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: inline-block;
}

.edit_profile_form_right {
  padding: 22px 30px 22px 20px;
  width: 100%;
  color: #770099;
  font-size: 12px;
  font-weight: bold;
}

.character_category_field {
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.character_category_field::after,
.character_sns_field::after {
  content: "";
  border: .5px dashed #770099;
  width: 390px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.affiliation_category {
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

.selected_category {
  margin: 0 3px 6px 0;
  padding: 3px 12px;
  font-size: 12px;
  background-color: #770099;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
}

.selected_category:hover {
  background-color: #600077;
}

.character_field {
  font-size: 14px;
}

.category_list_open_btn {
  margin-top: 10px;
  padding: 3px 12px;
  font-size: 12px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}

.character_sns_field {
  padding: 10px 0;
  position: relative;
}

.edit_character_sns {
  margin-top: 14px;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.character_description_field {
  padding-top: 10px;
}

.edit_character_description {
  margin-top: 10px;
  width: 100%;
  height: 228px;
  padding: 5px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
  resize: none;
}

.new_character_topic_form {
  width: 355px;
  height: 540px;
  margin-left: 15px;
  padding: 15px 15px;
  flex-shrink: 0;
  border: 1px solid #770099;
  border-radius: 3px;
  background-color: #fff;
  color: #770099;
  font-size: 22px;
  font-weight: bold;
}

.edit_character_future_topic {
  margin-top: 12px;
  padding-bottom: 38px;
  position: relative;
}

.edit_character_topic_type {
  position: absolute;
  font-size: 16px;
  top: -28px;
  right: 8px;
}

.edit_character_topic {
  height: 153.5px;
}

.edit_character_future_topic::after {
  content: "";
  border: .5px solid #770099;
  width: 310px;
  position: absolute;
  bottom: -1px;
  left: 5px;
}

#past_topics {
  margin-top: 38px;
  position: relative;
}

/* カテゴリボックス */
.category_select_box {
  width: 390px;
  padding: 15px;
  border: 1px solid #4A154B;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px #888;
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}

.visible {
  display: block;
}

.check_btn {
  display: inline-block;
  margin: 0 3px 6px 0;
}

.category_checkbox {
  display: none;
}

.category_checkbox:checked + label {
  background-color: #770099;
  color: #fff;
}

.category_check_btn {
  padding: 3px 12px;
  font-size: 12px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: block;
}

.category_checked {
  background-color: #770099;
  color: #fff;
}

/* 詳細データ編集ページ */

.edit_character_topic_form {
  width: 355px;
  max-height: 100%;
  margin-left: 15px;
  padding: 15px 15px;
  flex-shrink: 0;
  border: 1px solid #770099;
  border-radius: 3px;
  background-color: #fff;
  color: #770099;
  font-size: 22px;
  font-weight: bold;
  overflow: auto;
}

.character_delete_btn {
  margin-left: 10px;
}

#new_topic_btn {
  position: absolute;
  top: 75px;
  right: 8px;
  z-index: 1;
}

.delete_topic_btn,
.delete_new_topic_btn {
  position: absolute;
  bottom: 3px;
  right: 8px;
}

.edit_character_topic_past_topic {
  height: 153.5px;
  margin-bottom: 20px;
  position: relative;
}

/* カテゴリ登録ページ */

.category_input {
  border: none;
  background-color: #600077;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 500px;
}

.category_input::placeholder {
  color: #cd9bda;
}

.edit_category_name {
  font-size: 20px;
  font-weight: bold;
}

.edit_category_description {
  font-size: 12px;
}

.character_list {
  width: 680px;
  height: 100%;
  border: 1px solid #770099;
  border-radius: 3px;
  background-color: #fff;
  padding: 22px 40px 22px 22px;
}

.character_list_top {
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.character_list_title {
  font-size: 22px;
  font-weight: bold;
  color:#770099;
}

.category_submit_btn {
  padding: 5px 13px;
  font-size: 16px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: inline-block;
}

.character_checkboxies {
  height: calc(100% - 38px);
  overflow: auto;
}

.character_checkbox {
  border-bottom: 1px dashed #770099;
}

.character_label {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.character_label:hover {
  background-color: #f8e8ff;
}

.character_input {
  margin-left: 20px;
}

.character_input_image {
  margin-left: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #f8e8ff;
}

.character_input_text {
  margin-left: 20px;
  font-weight: bold;
}

/* カテゴリ編集ページ */

.category_operation_btn {
  padding: 5px 13px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #770099;
  border: 1px solid #770099;
  border-radius: 20px;
  display: inline-block;
}

/* ボタン */

.click_btn {
  cursor: pointer;
}

.click_btn:hover {
  background-color: #770099;
  color: #fff;
}

.clicked {
  background-color: #770099;
  color: #fff;
}