.wrapper {
  display: flex;

}
.main_view {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fff;
}

.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #4A154B;
  color: #fff;
}

.side_bar a {
  color: #fff;
}

/* サイドバー */
/* サイドバートップ */

.side_bar_top {
  height: 100px;
}

/* サイドバーコンテンツ */

.side_bar_category {

}


/* メインビュー */
/* メイントップ */
.main_top {
  height: 100px;
  background-color: #4A154B;
  padding: 0 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.main_top a {
  color: #fff;
}

/* メインコンテンツ */
.main_contents {
  padding: 50px 0;
  height: calc(100vh - 100px);
  overflow: auto;
}

.main_contents_wrapper {
  margin: 0 auto;
  width: calc(100% - 100px);
  /* background-color: #ddd; */
  display: flex;
  flex-wrap: wrap;
}

/* トップページ */
.character {
  width: 540px;
  height: 180px;
  display: flex;
  border: 2px solid #4A154B;
  border-radius: 10px;
  margin: 0 20px 20px 0;
  transition: .1s;
}

.character:hover {
  box-shadow: 0px 0px 7px #888;
}

.select {
  height: 380px;
  transition: .1s;
}

.character_info {
  width: 160px;
  padding-top: 20px;
  text-align: center;
  border-right: 2px solid #4A154B;
  overflow: hidden;
}

.character_name {
  font-weight: bold;
}

.character_image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.character_topic {
  width: 380px;
  height: calc(100% - 2px);
  font-size: 14px;
}

.future_topic {
  width: 100%;
  height: 50%;
  padding: 7px;
  border-bottom: 1px solid #4A154B;
}

.past_topic {
  width: 100%;
  height: 50%;
  padding: 7px;
  border-top: 1px solid #4A154B;
}

.detail {
  margin-top: 30px;
}

.topic_form {
  height: 100%;
  position: relative;
}

.created_date {
  width: 95px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
}

.topic_input {
  resize: none;
  width: 81%;
  height: 100%;
  padding: 3px 5px;
  font-size: 14px;
}

.topic_submit {
  display: block;
}

/* キャラクター登録ページ */
.category_select_box {
  width: 300px;
  border: 1px solid #4A154B;
  padding: 15px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
}

.visible {
  display: block;
}

.check_btn {
  display: inline-block;
}


/* キャラクター編集ページ */

.edit_character {
  width: 1100px;
  border: 2px solid #4A154B;
  border-radius: 10px;
  display: flex;
}

#selected_character_image {
  width: 160px;
  height: 160px;
  object-fit:cover;
  border-radius: 50%;
}

.edit_profile_form {
  width: 550px;
  padding: 30px;
  border-right: 2px solid #4A154B;
}

.edit_topic_form {
  width: calc(100% - 550px);
}

.edit_future_topic {
  padding: 30px;
  border-bottom: 2px solid #4A154B;
}

.edit_past_topic {
  padding: 30px;
}


/* カテゴリ編集ページ */

.character_checkbox {
  line-height: 50px;
}

.character_checkbox img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}