<%= javascript_pack_tag "indexpage-delete-topic", "indexpage-new-topic", "select-character", "update-topic" %>

<div class="wrapper">
  <div class="side_bar">
    <%= render partial: "shared/side_bar" %>
  </div>
  <div class="main_view">
    <%= render partial: "main_view_index" %>
  </div>
</div>